@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

html,
body {
  overflow: hidden;
  height: 100vh;
  background: radial-gradient(#1e1e1e, #111111);
}

canvas {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
